/* Réinitialisation des styles de base */
body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.image-select-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.image-select-container img {
    height: 28px; /* Ajustez la hauteur selon vos préférences */
    margin-right: 10px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrer les menus déroulants */
}

#image-selector18 {
    width: 65px
}

select {
    font-size: 16px; /* Ajustez la taille de police selon vos préférences */
    padding: 5px;
    width: 200px;
}

#image-selector18 {
    width: 65px
}


td {
    vertical-align: top;
    margin: 10px; 
}

#image18 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 2px;
}

.ilevel-container {
    text-align: center;
    margin: 20px;
}

.ilevel-container p {
    font-size: 18px;
}

.ilevel-container span {
    font-weight: bold;
}

/* Ajoutez d'autres styles CSS personnalisés si nécessaire */


