/* Réinitialisation des styles de base */
body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.container {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.image-select-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligner les éléments à gauche et à droite */
    margin: 10px;
}

.image-select-container img {
    height: 80px; /* Ajustez la hauteur selon vos préférences */
    margin-right: 10px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligner les menus déroulants à droite */
}

/* Ajoutez de la marge à droite pour séparer l'image et le menu déroulant */
select {
    font-size: 16px; /* Ajustez la taille de police selon vos préférences */
    padding: 5px;
    margin-left: 10px; /* Ajoutez de la marge à gauche pour coller le menu déroulant à l'image */
}

.ilevel-container {
    text-align: center;
    margin: 20px;
}

.ilevel-container p {
    font-size: 18px;
}

.ilevel-container span {
    font-weight: bold;
}

/* Ajoutez d'autres styles CSS personnalisés si nécessaire */


