/* Réinitialisation des styles de base */
body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;

  background: url('URL_DE_VOTRE_VIDEO.mp4') no-repeat;
  background-size: cover; /* Ajustez cette propriété pour le dimensionnement de la vidéo */
  background-attachment: fixed; /* Facultatif : permet de fixer le fond en position fixe */
  animation: playVideo 4s linear infinite; /* Pour les navigateurs qui ne prennent pas en charge 'loop' */
    /*background-image:url(pic/bg.PNG);*/
    @keyframes playVideo {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 100;
  }
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.image-select-container {
    display: flex;
    align-items: center;
    margin: 6px;
}

.image-select-container img {
    height: 28px; /* Ajustez la hauteur selon vos préférences */
    margin-right: 10px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrer les menus déroulants */
}

#image-selector18 {
    width: 54px
}
#image-selector19 {
    width: 54px
}
#image-selector20 {
    width: 54px
}
#image-selector21 {
    width: 54px
}
#image-selector22 {
    width: 54px
}
#image-selector23 {
    width: 54px
}
#image-selector24 {
    width: 54px
}

#image-selector25 {
    width: 128px
}
#image-selector26 {
    width: 128px
}
#image-selector27 {
    width: 128px
}
#image-selector28 {
    width: 128px
}
#image-selector29 {
    width: 128px
}
#image-selector30 {
    width: 128px
}
#image-selector31 {
    width: 128px
}
#image-selector32 {
    width: 128px
}
#image-selector33 {
    width: 128px
}
#image-selector34 {
    width: 128px
}
#image-selector35 {
    width: 128px
}

select {
    font-size: 16px; /* Ajustez la taille de police selon vos préférences */
    padding: 5px;
    width: 200px;
}


td {
    vertical-align: top;
    margin: 40px; 
}


#image18 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 2px;
}
#image19 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 1px;
}
#image20 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 1px;
}
#image21 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 1px;
}
#image22 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 1px;
}
#image23 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 1px;
}
#image24 {
    text-align: center;
    height: 0px;
    width: 0px
    margin-left: 1px;
}

.ilevel-container {
    text-align: center;
    margin: 20px;
}

.ilevel-container p {
    font-size: 18px;
}

.ilevel-container span {
    font-weight: bold;
}

/* Ajoutez d'autres styles CSS personnalisés si nécessaire */


