body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 24px;
}

.image-select-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.image-select-container img {
    height: 100px; /* Ajustez la hauteur selon vos préférences */
    margin-right: 10px;
}

.dropdown {
    display: flex;
    align-items: center;
}

select {
    font-size: 16px; /* Ajustez la taille de police selon vos préférences */
    padding: 5px;
}

.ilevel-container {
    text-align: center;
    margin: 20px;
}

.ilevel-container p {
    font-size: 18px;
}

.ilevel-container span {
    font-weight: bold;
}

/* Ajoutez d'autres styles CSS personnalisés si nécessaire */

